<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soap Dispenser</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>

    
    <section class="section">
        <div class="container">
            <h1 class="title">Dispensers</h1>
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Dispenser ID</th>
                        <th>Room ID</th>
                        <th>Dispenser Content</th>
                        <th>Liquid Level</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dispenser in dispensers %}
                    <tr>
                        <td>{{ dispenser.0 }}</td>
                        <td>{{ dispenser.1 }}</td>
                        <td>{{ dispenser.2 }}</td>
                        <td>{{ dispenser.3 }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No data available</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    
</body>
</html>
